@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
:root {
  --maunen: #0d0d1b;
  --mainColor: #0e1423;
  /*  f6f8fa*/
  --darkBlack: #ffffff;
  /* 2d2f31 */
  --darkGrey: #61666b;
  --grey: #0d0d1b;
  /* d5d5d5 */
  --lightGrey: #12192C;
  /* f2f2f2 */
  --yellow: #fecb40;
  --red:#df113c;
  --border: rgba(255, 255, 255, 0.5);
  --white: #f2f2f2;
}
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  width: 100%;
  height: auto;
  color: var(--darkBlack);

  background-color: var(--maunen);
}
p{
  font-size: 14px;
}
.label-cart{
  /* position: fixed;
  top: 0;
  right: 10px;
  z-index: 4; */
  cursor: pointer;
}


/* .logo{
  position: fixed;
  background-color: var(--darkBlack);
  color: var(--lightGrey);
  width: 100%;
  text-align: center;
  padding: 15px 420px 15px 60px;
  top: 0;
  z-index: 2;
} */
.sidebars{
  position: fixed;
  /* top: 0; */
  /* right: 0; */
  
  /* width: 50px; */
  /* height: 100%; */
  background-color: var(--mainColor);
  z-index: 1;
  /* padding-top: 70px; */

  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  /* padding-bottom:100px; */
}

.sidebar{
  position: fixed;
  /* top: 0; */
  /* right: 0; */
  
  /* width: 50px; */
  /* height: 100%; */
  background-color: var(--mainColor);
  z-index: 5;
  /* padding-top: 70px; */

  display: flex;
  bottom: 0;
  right: 0;
  /* width: 100%; */
  /* padding-bottom:100px; */
}
.sidebar-menu{
  width: 85px;
  text-align: center;
  padding: 10px 5px;
  color: var(--darkGrey);
  /* margin-left: 50px; */
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-menu .tick {
  position: absolute;
  top: -30px;
  margin-left: 20px;
  font-size: 3rem;
  color: #00b627;
  font-weight: 900;
} 
.sidebar-menu > a {
  text-decoration: none;
  font-size: 0.7rem;
  line-height: 1.5;
  color: var(--darkBlack);
  
}
.sidebar-menu:hover{
  border-right: 2px solid var(--yellow);
  color: var(--yellow);

}
.sidebar-menu:hover > a {
  color: var(--yellow);

}

.dashboard {
  height: 100%;
  width: 100%;
  padding-right: 360px;
  padding-left: 0px;

  background-color: var(--maunen);
}
.dashboard-banner {
  width: 100%;
  height: 300px;
  position: relative;
  /* margin-top: 4rem; */
  padding: 1rem;
  border-radius: 30px;
  cursor: pointer;
}
.dashboard-banner > img {
  width:  100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.banner-promo{
  position: absolute;
  color: var(--lightGrey);
  top: 25%;
  left: 10%;
  font-weight: 800;
}
.banner-promo > h1 > span {
  color: var(--yellow);

}

.dashboard-title {
  padding: 0 1rem;

}
.dashboard-menu{
  display: flex;
  gap: 10px;
  padding: 0.3rem 1rem;
  overflow: auto;

}
.dashboard-menu > a{
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
  min-width: 120px;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  color: var(--darkBlack);
  background-color: var(--lightGrey);

}
.dashboard-menu > a:hover{
  background-color: var(--red);
  color: var(--darkBlack);
}

.dashboard-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0.5rem 1rem 1rem 1rem;
}
.dashboard-card{
  background-color: var(--mainColor);
  box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}
.dashboard-card:hover{
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}
.card-image{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.card-detail{
  padding: 10px;

}
.card-detail >h4 >span {
  float: right;
}

.card-time {
  color: var(--darkGrey);
  font-size: 0.8rem;
  padding-top: 10px;
}

.dashboard-order {
  width: 340px;
  min-height: 100%;
  position: fixed;
  top:0;
  right: 0px;
  /* padding: 0.5rem 0.5rem; */
  background-color: var(--mainColor);
  z-index: 3;
}
.dashboard-order > h3 {
  /* padding: 10px 0; */
  padding: 1.5rem 1.5rem;
}
.order-address > h4 {
  line-height: 2;
}

.order-time{
  font-size: 0.8rem;
  color: var(--darkGrey);

}

.order-wrapper{
  height: 65vh;
  width: 100%;
  overflow: scroll;
  margin: 20px 0;
  padding: 0.5rem 1.5rem;
}

/* custom scroll */
.order-wrapper::-webkit-scrollbar {
  width: 7px;
}
.order-wrapper::-webkit-scrollbar-track{
  background-color: var(--lightGrey);
  border-radius: 20px;
}
.order-wrapper::-webkit-scrollbar-thumb{
  background-color: var(--darkGrey);
  border-radius: 20px;
}
.order-wrapper::-webkit-scrollbar-track:horizontal {
  background-color: var(--mainColor);
}

.order-card {
  display: grid;
  grid-template-columns: 0.6fr 1fr 0.5fr;
  padding: 10px 0;
  gap: 5px;
  justify-content: space-around;
  align-items: flex-start;
}
.order-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 15px;
}

.order-detail > p {
  font-weight: 600;
  padding-bottom: 5px;
}

.order-detail .order-price {
  font-weight: 600;
  margin-right: 20px;
}

.order-detail .input-order {
  width: 200px;
  height: 35px;
  /* text-align: center; */
  /* border: 2px solid --grey; */
  border-radius: 5px;
  background-color: transparent;
  /* margin-left: 10px; */
  padding-left: 5px;
  /* margin-top: 4px; */
  border: 1px solid var(--border);
  color: var(--darkBlack);
}

.order-detail .order-soluong {
  width: 78px;
  height: 25px;
  margin-bottom: 8px;
  margin-left: 20px;
  text-align: center;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid var(--border);
  border-radius: 5px;
  color: var(--darkBlack);
}

.button-clear {
  position:absolute;
  width: 23px;
  right: 30px;
  margin-top: -3px;
  border-radius: 50%;
  background-color: var(--darkGrey);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--darkBlack);
}
.button-clear:hover {
  background-color: var(--red);
  color: var(--lightGrey);
}

.divider {
  width: 100%;
  /* border: 1px dashed --grey; */
  border: 1px solid rgba(255, 255, 255, 0.1);

}
.order-total {
  position: fixed;
  width: 340px;
  /* padding: 0; */
  padding: -0.5rem -1.5rem;
  margin: 0;
  bottom: 10vh;
  background-color: var(--mainColor);
}

.order-total > p {
  padding: 10px 0;
  font-size: 1rem;
}
.order-total > p > span {
  position: absolute;
  /* float: right; */
  font-weight: 900;
  font-size: 1.5rem;
  bottom: 50px;
  right: 15px;
}

.order-promo {
  display: flex;
  justify-items: space-around;
  align-items: center;
  background-color: var(--mainColor);
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* border-radius: 10px; */
  height: 45px;
  padding: 0 5px;
  margin: 5px 0 10px 0;

}
.input-promo{
  height: 100%;
  background-color: var(--mainColor);
  border: none;
  color: var(--darkBlack);
}
.button-promo{
  position: absolute;
  /* float: right; */
  right: 5px;
  background-color: var(--yellow);
  border: none;
  border-radius: 5px;
  height: 20%;
  width: 30%;
  cursor: pointer;
}
.checkout{
  width: 100%;
  height: 45px;
  text-align: center;
  background-color: var(--red);
  /* border-radius: 10px; */
  border: none;
  cursor: pointer;
  color: var(--darkBlack);
}
.checkout:hover {
  text-transform: uppercase;
  font-weight: 600;
}

#cart {
  display: none;
}
#cart:checked ~ .label-cart {
  color: var(--lightGrey);

}
#cart:checked ~ .dashboard {
  padding-right: 10px;
}
#cart:checked ~ .dashboard-order {
  display: none;

}
#cart:checked ~ .logo {
  padding-right: 0px;
}

@media screen and (max-width: 680px) {
  .dashboard {
    padding-right: 0;
  }
  .dashboard-order {
    width: 100%;
    left: 0;
  }
  .order-total {
    width: 100%;
  }
  .sidebar{
    position: fixed;
    background-color: var(--mainColor);
    z-index: 5;
    display: flex;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .sidebar-menu{
    width: 100px;
  }
}

 /* ================ progress bar ===================*/
 .overlay{
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.1);
  height: 100vh;
  top: 0%;
  z-index: -1;
  opacity: 0;
  transition: 1s;
}
.showoverlay{
  opacity: 1;
  z-index: 99;
  
}


 .poup{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 500px;
  height: 300px;
  box-shadow: rgba(18, 18, 18, 0.5) 0px 1px 5px;
  background-color: #f2f2f2;
  border-radius: 20px;
}
.poup > p{
  position: relative;
  top: 10%;
  color: black;
  font-size: 1.5rem;
  text-align: center;
}
.progress-bar{
position: absolute;
top: 80%;
left: 50%;
transform: translate(-50%,-50%);
width: 370px;
height: 1.3em;
background-color: transparent;
border-radius: 1.5em;
color: var(--grey);
/* overflow: hidden; */

}
.progress-bar::before{
content: attr(data-label);
display: flex;
/* align-items: center; */
position: absolute;
/* left: .5em; */
top: .5em;
bottom: .5em;
width: calc(var(--width, 0) *1%);
/* max-width: calc(100% - 1em); */
background-color: rgba(0, 119, 255,0.9);
border-radius: 1em;
box-shadow: rgba(0,0,0,0.7) 0px 1px 4px;

}
